@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: ghostwhite;
    background: ghostwhite url(./images/papyrus.png);
    background-repeat: repeat;
}

.container {
    margin: 50px;
    padding: 20px;
    background: black;
}

.container > .title {
    margin-bottom: 10px;
}

/*
    #1 Flex layout
*/
.flex-layout {
    display: flex;
    flex-direction: column; /* Mobile first */
}

.col {
    margin: 10px;
}

@media (min-width: 680px) {
    .flex-layout {
        flex-direction: row;
        flex-grow: 1;
    }

    .col {
        flex: 1;
        padding: 20px;
    }

    .col-1 {
        flex: 2;
    }
}

/*
    #2 Flex media object
*/
.flex-media {
    
}

.flex-media .media,
.flex-media .search-group {
    display: flex;
    max-width: 600px;
    margin: 30px 0;
}

.flex-media .media img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.flex-media .content {
    flex: 1;
}

.flex-media .search-group input {
    padding: 10px;
}

.flex-media .search-group input[type="text"] {
    flex: 1;
}
