section.wrapper

  .container
    h2.title.container-title Basic
    p.subtitle grid-template
  
    .grid.grid-basic
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
        .item 9

      .display-code
        pre
          code.language-css
            | display: grid;
            | /* Can be any units - px | em | rem | fr | auto */
            | grid-template-columns: 70px 25% auto;
            | grid-template-rows: 50px 30% auto;
            | grid-gap: 15px;

  .container
    h2.title.container-title Template Areas
    p.subtitle grid-template-areas | grid-area
  
    .grid.grid-template-areas
    
      .display-grid
        .item.header Header
        .item.main  Main
        .item.sidebar Sidebar
        .item.footer Footer

      .display-code
        pre
          code.language-css
            | .grid-template-areas {
            |    grid-template-columns: repeat(4, 1fr);
            |    /* . = empty area */
            |    grid-template-areas: 
            |      'header header  header  header'
            |      'main   main   .       sidebar'
            |      'footer footer  footer  footer'
            |  }

            |  .header { grid-area: header; }
            |  .main { grid-area: main; }
            |  .sidebar { grid-area: sidebar; }
            |  .footer { grid-area: footer; }

  .container
    h2.title.container-title Positioning Items
    p.subtitle justify-items | align-items
  
    .grid.grid-positioning.justify-items
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
        .item 9

      .display-code
        pre
          code.language-css
            | .justify-items {
            |   grid-template-columns: repeat(3, 1fr);
            |   justify-items: end; /* stretch | start | end | center */
            | }

    .grid.grid-positioning.align-items
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
        .item 9

      .display-code
        pre
          code.language-css
            | .align-items {
            |   grid-template-columns: repeat(3, 1fr);
            |   grid-template-rows: repeat(3, 70px);
            |   align-items: end; /* stretch | start | end | center */
            | }
            |
            | /* Shorthand for justify &amp; align items */
            | /* place-items: align-items justify-items */

  .container
    h2.title.container-title Positioning Content
    p.subtitle justify-content | align-content

    .grid.grid-positioning.justify-content
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
        .item 9

      .display-code
        pre
          code.language-css
            | .justify-content {
            |   grid-template-columns: repeat(3, 80px);
            |   justify-content: end; /* stretch | start | end | center | space-around | space-between | space-evenly */
            | }

    .grid.grid-positioning.align-content
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
        .item 9

      .display-code
        pre
          code.language-css
            | .align-content {
            |   grid-template-columns: repeat(3, 1fr);
            |   grid-template-rows: repeat(3, 50px);
            |   align-content: end; /* stretch | start | end | center | space-around | space-between | space-evenly */
            |   height: 200px;
            | }
            |
            | /* Shorthand for justify &amp; align items */
            | /* place-content: align-content justify-content */

  .container
    h2.title.container-title Grid Auto Flow, Auto Columns &amp; Auto Rows
    p.subtitle 
      | Control the auto-placement algorithm
      br
      | Specifies the sizes of IMPLICIT grid tracks
      br
      | grid-auto-flow | grid-auto-columns | grid-auto-rows
  
    .grid.grid-auto.auto-columns
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5

      .display-code
        pre
          code.language-css
            | .auto-columns {
            |   grid-auto-flow: column; /* controls how the auto-placement algorithm works - row | column | dense */
            |   grid-template-columns: 50px;
            |   grid-auto-columns: 50px;
            | }

    .grid.grid-auto.auto-rows
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5

      .display-code
        pre
          code.language-css
            | .auto-rows {
            |   grid-auto-flow: row; /* controls how the auto-placement algorithm works - row | column | dense */
            |   grid-template-columns: repeat(3, 1fr);     
            |   grid-auto-rows: 50px;
            | }

  .container
    h2.title.container-title Placing &amp; Sizing Grid Items
    p.subtitle track-start / track-end
  
    .grid.grid-sizing
    
      .display-grid
        .item.item-a A
        .item.item-b B
        .item.item-c C

      .display-code
        pre
          code.language-css
            | .grid-sizing {
            |   grid-template-columns: repeat(4, 1fr);
            |   grid-template-rows: repeat(3, 50px);
            | }

            | .item-a { grid-column: 2 / 3; }
            | .item-b { grid-column: 3 / 5; grid-row: 2 / 3; }
            | .item-c { grid-column: 1 / 2; grid-row: 2/ 4; }

  .container
    h2.title.container-title Placing Individual Items
    p.subtitle justify-self | align-self
  
    .grid.place-self.justify-self
    
      .display-grid
        .item 1
        .item 2
        .item 3

      .display-code
        pre
          code.language-css
            | .justify-self .item:nth-child(3) {
            |   justify-self: end;
            |   background: peachpuff;
            | }

    .grid.place-self.align-self
    
      .display-grid
        .item 1
        .item 2
        .item 3

      .display-code
        pre
          code.language-css
            | .align-self { grid-template-rows: 80px; }

            | .align-self .item:nth-child(3) {
            |   align-self: end;
            |   background: peachpuff;
            | }

  .container
    h2.title.container-title Auto Fit &amp; Auto Fill
    p.subtitle auto-fit | auto-fill
  
    .grid.auto-fit
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5

      .display-code
        pre
          code.language-css
            | .auto-fit .display-grid {
            |   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            | }

    .grid.auto-fill
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5

      .display-code
        pre
          code.language-css
            | .auto-fill .display-grid {
            |   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            | }

  .container
    h2.title.container-title Minmax
    p.subtitle minmax | min-content | max-content
  
    .grid.min-content
    
      .display-grid
        .item 1
        .item 2
        .item 3

      .display-code
        pre
          code.language-css
            | .min-content {
            |   grid-template-columns: 150px 1fr min-content;
            | }

    .grid.minmax
    
      .display-grid
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5

      .display-code
        pre
          code.language-css
            | .minmax {
            |   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            | }