footer#page-footer
  h3.ref References
  ul
    li 
      a(href="https://css-tricks.com/snippets/css/complete-guide-grid/") CSS-Tricks: A Complete Guide to Grid
    li
      a(href="https://cssgrid.io") Wes Bos: CSS Grid


script(src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/prism.min.js")
