meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="style.css")
//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-tomorrow.min.css")